* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {
    width: 100%;
    max-width: 700px;

    background-color: white;

    padding: 35px;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    text-align: center;
}

h1 {
    color: #1e3a8a;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
}

.search-box input {
    flex: 1;

    padding: 13px;

    border: 1px solid #ccc;

    border-radius: 7px;

    font-size: 16px;
}

.search-box button {
    padding: 13px 22px;

    border: none;

    border-radius: 7px;

    background-color: #2563eb;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

.search-box button:hover {
    background-color: #1d4ed8;
}

#errorMessage {
    color: red;

    font-weight: bold;

    margin-bottom: 15px;
}

.weather-card {
    background-color: #eff6ff;

    padding: 30px;

    border-radius: 12px;

    margin-top: 20px;
}

.weather-card h2 {
    color: #1e3a8a;

    font-size: 28px;

    margin-bottom: 15px;
}

.temperature {
    font-size: 50px;

    font-weight: bold;

    color: #2563eb;

    margin-bottom: 10px;
}

#weatherCondition {
    font-size: 20px;

    font-weight: bold;

    color: #333;

    margin-bottom: 25px;
}

.weather-details {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

.weather-details div {
    background-color: white;

    padding: 15px;

    border-radius: 10px;
}

.weather-details h3 {
    font-size: 15px;

    color: #555;

    margin-bottom: 8px;
}

.weather-details p {
    font-weight: bold;

    color: #2563eb;
}

@media (max-width: 600px) {

    .container {
        padding: 20px;
    }

    .search-box {
        flex-direction: column;
    }

    .weather-details {
        grid-template-columns: 1fr;
    }

    .temperature {
        font-size: 40px;
    }
}